<div class="w-screen">
    <div class="mx-auto max-w-7xl sm:px-6 lg:px-8 bg-slate-800 text-ellipsis text-white lg:rounded-lg md:rounded-md rounded-none">
        <div class="flex flex-wrap justify-between w-full p-2 sm:my-2 m-0">
            <div class="flex-auto">
                <span class="text-4xl pb-3 font-bold tracking-tight sm:text-6xl">
                    Agenda
                </span>
            </div>
            <div class="flex flex-auto justify-end items-center gap-2">
              
                <fa-icon size="2x" [icon]="faPrev" class="text-white cursor-pointer shadow-md" (click)="previous()"></fa-icon>
                <fa-icon size="2x" [icon]="faNext" class="text-white cursor-pointer shadow-md" (click)="next()"></fa-icon>
                <fa-icon size="2x" [icon]="faOptions" class="text-white cursor-pointer shadow-md" (click)="op.show($event)"></fa-icon>

                <p-overlayPanel #op>
                    <p-dropdown [options]="viewTranslate" [(ngModel)]="view" (onChange)="changeView($event)" ></p-dropdown>
                </p-overlayPanel>
    
            </div>
    
        </div>

        <div class="flex flex-wrap gap-2 w-full p-2">
            Funcionárias
        </div>
        
        <div class="flex w-full max-h-full md:p-2 lg:p-4 p-0">
            <full-calendar #calendar [options]="calendarOptions"></full-calendar>
        </div>
    </div>
</div>


<p-dialog [header]="header" [(visible)]="visible" [breakpoints]="{ '960px': '75vw', '600px': '85vw' }" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false" [modal]="true">

    <div class="grid grid-cols-12 gap-x-6 gap-y-4">
        <div class="col-span-6">
            <label for="startDateTime">Início</label>
            <p-calendar [(ngModel)]="startDateTime" inputId="startDateTime" [style]="{width:'100%'}" [showOnFocus]="true" [showTime]="true" [timeOnly]="true" [readonlyInput]="true"></p-calendar>
        </div>

        <div class="col-span-6">
            <label for="finishDateTime">Fim</label>
            <p-calendar [(ngModel)]="finishDateTime" inputId="finishDateTime" [style]="{width:'100%'}" [showOnFocus]="true" [showTime]="true" [timeOnly]="true" [readonlyInput]="true"></p-calendar>
        </div>

        <div class="sm:col-span-6 col-span-12">
            <label for="service">Serviço</label>
            <p-dropdown [options]="services" [(ngModel)]="service" (onChange)="changeView($event)" inputId="service"  [style]="{width:'100%'}"></p-dropdown>
        </div>

        <div class="sm:col-span-6 col-span-12">
            <label for="price">Preço</label>
            <input type="number" id="price" pInputText [(ngModel)]="price" [style]="{width:'100%'}"/>
        </div>

        <div class="sm:col-span-6 col-span-12">
            <label for="employee">Funcionária</label>
            <p-dropdown [options]="employees" [(ngModel)]="employee" (onChange)="changeView($event)" inputId="employee" [style]="{width:'100%'}"></p-dropdown>
        </div>

        <div class="sm:col-span-6 col-span-12">
            <label for="customer">Cliente</label>
            <p-dropdown [options]="customers" [(ngModel)]="customer" (onChange)="changeView($event)" inputId="customer" [style]="{width:'100%'}"></p-dropdown>
        </div>

        <div class="col-span-12">
            <label for="note">Anotação</label>
            <textarea id="note" cols="10" [style]="{width: '100%'}" pInputTextarea></textarea>
        </div>

    </div>

    <ng-template pTemplate="footer">
        <div class="flex gap-2">
            <button pButton (click)="confirm()" [style]="{width:'100%'}" class="p-button-danger flex justify-center items-center gap-2" *ngIf="edit">
                <span class="tracking-tight text-white text-ellipsis">Excluir</span>
                <fa-icon [icon]="faDelete" (click)="null"></fa-icon>
            </button>
            <button pButton (click)="confirm()" [style]="{width:'100%'}" class="flex justify-center items-center gap-2">
                <span class="tracking-tight text-white text-ellipsis">Confirmar</span>
                <fa-icon [icon]="faConfirm" (click)="confirm()"></fa-icon>
            </button>
        </div>
    </ng-template>
</p-dialog>