<div class="w-full">
    <div class="calendar-own">
        <div class="flex">
            <h1 class="text-4xl pb-3 font-bold tracking-tight text-gray-900 sm:text-6xl">
                Agenda
            </h1>

            <div class="w-fit flex flex-1 flex-wrap justify-end px-3 py-4 gap-2">

                <button pButton (click)="previous()" label="Anterior"></button>
                <button pButton (click)="next()" label="Próximo"></button>

                <p-dropdown [options]="views" [(ngModel)]="view" (onChange)="changeView($event)" ></p-dropdown>
            </div>

        </div>
        <full-calendar #calendar [options]="calendarOptions"></full-calendar>
    </div>
</div>

<p-dialog [header]="header" [(visible)]="visible" [breakpoints]="{ '960px': '75vw', '600px': '85vw' }" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false" [modal]="true">
    <div class="grid gap-4">
        <div class="col-end-8">
            <label for="date">Dia</label>
            <p-calendar [(ngModel)]="date" inputId="date" [disabled]="true" [style]="{width:'100%'}" [readonlyInput]="true" dateFormat="dd/mm/yy" [showTime]="false"></p-calendar>
        </div>

        <div class="lg:col-span-4 md:col-span-6 col-span-12">
            <label for="startDateTime">Início</label>
            <p-calendar [(ngModel)]="startDateTime" inputId="startDateTime" [style]="{width:'100%'}" [showOnFocus]="false" [showIcon]="true" [icon]="clockIcon" [showTime]="true" [timeOnly]="true" [readonlyInput]="true"></p-calendar>
        </div>
        <div class="lg:col-span-4 md:col-span-6 col-span-12">
            <label for="finishDateTime">Fim</label>
            <p-calendar [(ngModel)]="finishDateTime" inputId="finishDateTime" [style]="{width:'100%'}" [showOnFocus]="false" [showIcon]="true" [icon]="clockIcon" [showTime]="true" [timeOnly]="true" [readonlyInput]="true"></p-calendar>
        </div>
        <div class="lg:col-span-4 md:col-span-6 col-span-12">
            <label for="service">Serviço</label>
            <p-dropdown [options]="services" [(ngModel)]="service" (onChange)="changeView($event)" inputId="service"  [style]="{width:'100%'}"></p-dropdown>
        </div>
        <div class="lg:col-span-4 md:col-span-6 col-span-12">
            <label for="employee">Funcionária</label>
            <p-dropdown [options]="employees" [(ngModel)]="employee" (onChange)="changeView($event)" inputId="employee" [style]="{width:'100%'}"></p-dropdown>
        </div>
        <div class="lg:col-span-4 md:col-span-6 col-span-12">
            <label for="customer">Cliente</label>
            <p-dropdown [options]="customers" [(ngModel)]="customer" (onChange)="changeView($event)" inputId="customer" [style]="{width:'100%'}"></p-dropdown>
        </div>
        <div class="lg:col-span-4 md:col-span-6 col-span-12">
            <label for="price">Preço</label>
            <input type="number" id="price" pInputText [(ngModel)]="price" [style]="{width:'100%'}"/>
        </div>

        <!-- <div class="col-span-12">
            <label for="title">Título</label>
            <input type="text" id="title" pInputText [(ngModel)]="title" [style]="{width:'100%'}"/>
        </div> -->
        <div class="col-span-12">
            <button pButton (click)="confirm()" [style]="{width:'100%'}" label="Confirmar"></button>
        </div>
    </div>
</p-dialog>