<div class="relative overflow-x-hidden h-[calc(100vh-64px)]" [ngClass]="{'opacity-95': visible}">
    <div class="flex justify-between h-full" #scheduler>
        <div class="w-full bg-very-clean sm:block hidden">
            <div class="h-16 border-b border-gray-300 flex px-2 justify-center items-center gap-3">
                <span class="text-2xl font-semibold text-primary">Agendamentos</span>
                <div role="button" class="flex items-center gap-2 rounded bg-action text-xs text-white px-2 py-1">
                    <i class="fa-solid fa-plus"></i>
                    <span>NOVO</span>
                </div>
            </div>
        </div>
        <div class="h-full sm:min-w-[75vw] w-full flex flex-col bg-very-clean">
            <app-calendar #calendar [editable]="enableEdit" [addEvent]="addEvent" [items]="items" [clearAll]="clearEvents" 
                (OnViewChange)="onViewChange($event)" (OnChange)="onEventChange($event)" (OnClick)="onEventClick($event)" (OnDateClick)="onDateClick($event)">
            </app-calendar>
        </div>
    </div>
</div>

<p-sidebar [(visible)]="visible" appendTo="body" [fullScreen]="helper.currentDevice() == 2"  [position]="'right'" 
            [dismissible]="true" [modal]="false" styleClass="scheduler"
            [style]="{'min-width': '30vw'}" (visibleChange)="sidebarChange($event)">
    <ng-template pTemplate="header">
        <h2 class="font-semibold text-2xl tracking-normal leading-relaxed">{{header}}</h2>
    </ng-template>
    <ng-template pTemplate="content">
        <div *ngIf="oldScheduleDisabled" class="p-2 flex justify-center">
            <span class="text-center text-base leading-tight bg-blue-400 text-neutral-100 rounded-lg p-2">
                Datas/Agendamentos anteriores não podem ser alteradas
            </span> 
        </div>
        <form [formGroup]="form">
            <div class="grid grid-cols-12 gap-x-6 gap-y-4">
    
                <div class="sm:col-span-6 col-span-12">
                    <label for="startDateTime">Início</label>
                    <p-calendar formControlName="startDateTime" [readonly]="isEditEnable" placeholder="08:00" inputId="startDateTime" [style]="{width:'100%'}" [showOnFocus]="true" [showTime]="true" [timeOnly]="true"></p-calendar>
                    <small class="text-red-600 ng-dirty" *ngIf="form.get('startDateTime')?.errors"> {{form.get('startDateTime')?.errors?.['error']}} </small>
                </div>
                
                <div class="sm:col-span-6 col-span-12">
                    <label for="service">Serviço</label>
                    <p-dropdown dataKey="id" placeholder="Selecione o serviço" [options]="services" formControlName="service" [showClear]="true" [autoDisplayFirst]="false" optionLabel="description" inputId="service" (onChange)="changeService($event)"  [style]="{width:'100%'}"></p-dropdown>
                </div>
    
                <div class="sm:col-span-6 col-span-12">
                    <label for="finishDateTime">Fim</label>
                    <p-calendar formControlName="finishDateTime" placeholder="10:00" inputId="finishDateTime" [style]="{width:'100%'}" [showOnFocus]="true" [showTime]="true" [timeOnly]="true"></p-calendar>
                    <small class="text-red-600 ng-dirty" *ngIf="form.get('finishDateTime')?.errors"> {{form.get('finishDateTime')?.errors?.['error']}} </small>
                </div>
    
                <div class="sm:col-span-6 col-span-12">
                    <label for="price">Preço</label>
                    <input type="number" id="price" pInputText placeholder="R$ 100,00" formControlName="price" [style]="{width:'100%'}"/>
                </div>
    
                <div class="sm:col-span-6 col-span-12">
                    <label for="employee">Funcionária</label>
                    <p-dropdown dataKey="id" placeholder="Selecione a funcionária" [options]="employees" formControlName="employee" [showClear]="true" [autoDisplayFirst]="false" optionLabel="name" inputId="employee" [style]="{width:'100%'}"></p-dropdown>
                </div>
    
                <div class="sm:col-span-6 col-span-12">
                    <label for="customer">Cliente</label>
                    <p-dropdown dataKey="id" placeholder="Selecione a cliente" [options]="customers" formControlName="customer" [showClear]="true" [autoDisplayFirst]="false" optionLabel="name" inputId="customer" [style]="{width:'100%'}"></p-dropdown>
                    <span class="text-red-500 leading-4"> {{validHelper.getErrorMessage(form, 'customer', "notEqualsTo")}} </span>
                </div>
    
                <div class="col-span-12">
                    <label for="note">Anotação</label>
                    <textarea id="note" formControlName="note" cols="10" [style]="{width: '100%'}" placeholder="Informações importantes..." pInputTextarea></textarea>
                </div>
    
            </div>
        </form>

    </ng-template>
    <ng-template pTemplate="footer">
        <div class="h-full flex items-end justify-end gap-2">
            <button class="flex items-center gap-2 rounded bg-red-600 px-2 py-1 text-slate-100 disabled:opacity-70" *ngIf="edit" (click)="tryDelete()" [disabled]="!isEditEnable || oldScheduleDisabled">
                <span class="tracking-tight">Excluir</span>
            </button>
            <button class="flex items-center gap-2 rounded bg-action px-2 py-1 text-slate-100 disabled:opacity-70" (click)="confirm()" [disabled]="form.invalid || !isEditEnable || oldScheduleDisabled">
                <span class="tracking-tight">Salvar</span>
            </button>
        </div>
    </ng-template>
</p-sidebar>

<!-- filtros 
    <ng-template calendarItem [enableForAll]="isEditEnable">
        <div class="w-full">
            <p-multiSelect dropdownIcon="fa-solid fa-clipboard-user" [options]="employees" [(ngModel)]="selectedEmployes" [showClear]="true" (onClear)="changeEmployees(null)" (onChange)="changeEmployees($event)" defaultLabel="Funcionária" optionLabel="name" display="chip" [style]="{width:'100%'}"></p-multiSelect>
        </div>
    </ng-template>
    <ng-template calendarItem [enableForAll]="true">
        <div class="w-full">
            <p-multiSelect dropdownIcon="fa-solid fa-user-clock" [options]="customers" [(ngModel)]="selectedCustomers" [showClear]="true" (onClear)="changeEmployees(null)" (onChange)="changeCustomers($event)" defaultLabel="Clientes" optionLabel="name" display="chip" [style]="{width:'100%'}"></p-multiSelect>
        </div>
    </ng-template>
    <ng-template calendarItem [enableForAll]="true">
        <div class="w-full">
            <p-multiSelect dropdownIcon="fa-solid fa-bell-concierge" [options]="services" [(ngModel)]="selectedServices" [showClear]="true" (onClear)="changeEmployees(null)" (onChange)="changeServices($event)" defaultLabel="Serviço" optionLabel="description" display="chip" [style]="{width:'100%'}"></p-multiSelect>
        </div>
    </ng-template>
    <ng-template calendarItem [enableForAll]="true">
        <div class="w-full h-full flex justify-end">
            <button pButton (click)="clearFilter()" [disabled]="!hasFilter" [style]="{width:'100%', padding: '0.5rem'}" class="flex justify-center items-center gap-2">
                <span>Limpar filtros</span>
                <i class="fa-solid fa-filter"></i>
            </button>
        </div>
    </ng-template>
 -->