<body id="reset_page" class="w-screen h-screen z-[100] bg-transparent">
  <div class="grid md:grid-cols-2 grid-cols-1 text-white h-full">
    <img src="../../../assets/icons/icon-96x96.png" class="fixed w-12 m-6" alt="Icone AgendaHub" />
    <div class="opacity-60 h-full overflow-hidden md:block hidden">
      <img loading="eager" [src]="image" class="opacity-60 w-full object-cover object-center h-full" style="zoom: -50%" alt="landscape" />
    </div>

    <div class="flex justify-center items-center h-full bg-opacity-60 bg-primary">
      <div class="sm:mx-auto sm:max-w-md md:w-[85%] w-[85%] overflow-hidden">
        <button class="w-max mb-4">
          <a routerLink="/login" class="text-sm text-gray-400 hover:text-gray-300 flex gap-3 items-center">
            <i class="fas fa-arrow-left ml-2"></i>
            Login
          </a>
        </button>

        <div class="justify-center flex mb-10">
          <img class="w-90% self-center" src="../../../assets/logo/logo_texto.png" alt="Logo AgendaHub" />
        </div>

        <form [formGroup]="resetForm" id="form-login-page" class="flex flex-col gap-4 my-6">
          <div>
            <label for="email" class="text-left text-base sm:text-sm font-normal leading-9 tracking-normal text-gray-400">Email</label>
            <input formControlName="email" type="text" id="email" class="input w-full" />
          </div>

          <div>
            <label for="password" class="text-left text-base sm:text-sm font-normal leading-9 tracking-normal text-gray-400">Senha</label>
            <input id="password" formControlName="password" type="password" autocomplete="current-password" class="input w-full" />
          </div>

          <div>
            <label for="confirmPassword" class="text-left text-base sm:text-sm font-normal leading-9 tracking-normal text-gray-400">Confirma Senha</label>
            <input id="confirmPassword" formControlName="confirmPassword" type="password" autocomplete="current-password" class="input w-full" />
            <small class="text-red-500">
              {{ resetForm.get("confirmPassword")?.getError("equalTo") ? "Senhas não batem" : "" }}
            </small>
          </div>

          <div class="mt-5">
            <button
              (click)="resetPassword()"
              form="form-login-page"
              type="submit"
              [disabled]="resetForm.invalid"
              class="w-full text-white bg-action disabled:opacity-50 hover:bg-subaction focus:ring-4 focus:ring-[#f0ece5] font-medium rounded-lg text-md px-5 py-2.5 me-2 mb-2 dark:bg-action dark:hover:bg-[blue-700] focus:outline-none dark:focus:ring-subabg-subaction"
            >
              <span class="flex w-full justify-center items-center text-sm"> Resetar senha </span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
