# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
app.agendahub/dist
app.agendahub/tmp
app.agendahub/out-tsc
app.agendahub/bazel-out
app.agendahub/.angular

# Node
app.agendahub/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual agendahub Code
app.agendahub/.vscode/*

.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db

