<div class="fixed w-screen h-screen flex items-center justify-center bg-blend-darken bg-black bg-opacity-10">
  <div class="flex flex-col h-full w-full justify-center text-white items-center">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
      <h2 class="mb-6 text-center text-2xl font-bold leading-9 tracking-tight">Acessar agenda</h2>
    </div>
  
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
      <form class="space-y-6">
        <div>
          <label for="email" class="block text-sm font-medium leading-6">Email</label>
          <div class="mt-2">
            <input id="email" name="email" type="email" autocomplete="email" pInputText [style]="{width: '100%'}" placeholder="Email de acesso">
          </div>
        </div>
  
        <div>
          <div class="flex items-center justify-between">
            <label for="password" class="block text-sm font-medium leading-6">Senha</label>
            <div class="text-sm">
              <a routerLink="#" class="font-semibold text-indigo-600 hover:text-indigo-500">Esqueceu a senha?</a>
            </div>
          </div>
          <div class="mt-2">
            <input id="password" name="password" type="password" autocomplete="current-password" pInputText [style]="{width: '100%'}" placeholder="Sua senha">
          </div>
        </div>
  
        <div>
          <button (click)="login()" type="submit" pButton pRipple class="w-full ">
            <span class="flex w-full justify-center">
              Logar
            </span>
          </button>
        </div>
      </form>
    </div>
</div>