
.input {
    width: 100%;
    height: 2.66rem;
    line-height: 28px;
    padding: 0 0.5rem;
    border: 2px solid transparent;
    border-radius: 5px;
    outline: none;
    background-color: rgb(66, 76, 89) !important;
    color: #b1adad;
    transition: .3s ease;
}

.input::placeholder {
    color: #b1adad;
}

// .input:focus, input:hover {
//     outline: none;
//     border-color: #382645;
//     box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
// }

   
   
   
   
   