<div
  class="py-2 px-4 shadow dark:shadow-xl w-full border border-t-0 dark:border-secondary border-x-0 border-clean bg-very-clean dark:bg-primary bg-blend-darken h-16 flex justify-between items-center"
>
  <div class="dark:text-white">
    <breadcrumb></breadcrumb>
  </div>
  <div class="flex justify-between items-center gap-2 text-primary dark:text-very-clean px-4">
    <notifications></notifications>
    <p-avatar
      size="normal"
      shape="circle"
      [style]="{ display: 'flex' }"
      [image]="auth.TokenData.imageUrl"
      [label]="auth.TokenData.imageUrl ? null : auth.TokenData.name[0].toUpperCapital()"
    ></p-avatar>
  </div>
</div>
