<div
  (dragover)="onDragOver($event)"
  (dragleave)="onDragLeave()"
  (dragend)="onDragEnd()"
  (drop)="onDrop($event)"
  [ngClass]="{
    'border-4': fileEnter,
    'border-2': !fileEnter,
    'w-full max-w-xs': !width,
    height: height,
    'h-72': !height,
    'bg-zinc-300 dark:bg-zinc-600 flex flex-col rounded border-dotted items-center justify-center': true
  }"
>
  <label
    [for]="'file'"
    [ngClass]="{
      'w-full max-w-xs': !width,
      height: height,
      'h-72': !height,
      'h-full w-full flex justify-center items-center gap-3 hover:text-zinc-700 dark:hover:text-zinc-200 transition-colors duration-300 ease-in-out cursor-pointer': true
    }"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 20 20"
      fill="currentColor"
      class="w-5 h-5"
    >
      <path
        d="M9.25 13.25a.75.75 0 0 0 1.5 0V4.636l2.955 3.129a.75.75 0 0 0 1.09-1.03l-4.25-4.5a.75.75 0 0 0-1.09 0l-4.25 4.5a.75.75 0 1 0 1.09 1.03L9.25 4.636v8.614Z"
      />
      <path
        d="M3.5 12.75a.75.75 0 0 0-1.5 0v2.5A2.75 2.75 0 0 0 4.75 18h10.5A2.75 2.75 0 0 0 18 15.25v-2.5a.75.75 0 0 0-1.5 0v2.5c0 .69-.56 1.25-1.25 1.25H4.75c-.69 0-1.25-.56-1.25-1.25v-2.5Z"
      />
    </svg>
    {{ label }}
  </label>
  <input id="file" type="file" class="hidden" (change)="handleFile($event)" />
</div>
<div *ngIf="file" class="relative w-max">
  <object
    class="rounded-md w-full max-w-xs h-full object-scale-down aspect-auto"
    [data]="file"
    type="image/png"
  ></object>
</div>
