<div class="w-full h-full bg-opacity-40 sm:px-6 sm:py-4 p-2 relative">
  <div class="indent-2 flex flex-col justify-center text-primary dark:text-very-clean">
    <h2 class="text-lg leading-7 font-light -tracking-wide sm:truncate sm:text-2xl sm:tracking-tight">Configure seus horários e dias de funcionamento</h2>
  </div>

  <hr class="my-6 h-0.5 border-t-0 bg-gray-200 dark:bg-white/10" />

  <div class="mt-2">
    <div class="w-fit">
      <alert *ngIf="!hasWriteAccess" [message]="'Você não possui acesso para alterar essas informações.'" [type]="'warning'"></alert>
      <alert [message]="'Essas configurações serão utilizadas para agendamento de atendimentos.'" [type]="'info'"></alert>
    </div>
    <form [formGroup]="futils.form" class="flex flex-col space-y-4 max-w-2xl text-primary dark:text-clean">
      <loader [taskId]="'appointments'"></loader>
      <div class="grid sm:grid-cols-2 grid-cols gap-2">
        <div class="flex flex-col space-y-2">
          <label for="start" class="font-light">Início expediente</label>
          <p-calendar
            formControlName="openTime"
            appendTo="body"
            placeholder="08:00"
            inputId="openTime"
            [style]="{ width: '100%' }"
            [timeOnly]="true"
            hourFormat="HH:MM"
          ></p-calendar>
        </div>
        <div class="flex flex-col space-y-2">
          <label for="end" class="font-light">Fim expediente</label>
          <p-calendar
            formControlName="closeTime"
            appendTo="body"
            placeholder="18:00"
            inputId="closeTime"
            [style]="{ width: '100%' }"
            [timeOnly]="true"
            hourFormat="HH:MM"
          ></p-calendar>
        </div>
      </div>
      <div class="w-full">
        <label for="days" class="font-light">Dias expediente</label>
        <p-multiSelect
          inputId="days"
          [virtualScrollItemSize]="10"
          [options]="days"
          formControlName="days"
          placeholder="Selecione os dias"
          optionValue="value"
          optionLabel="label"
          [style]="{ width: '100%' }"
          display="chip"
          [showClear]="true"
        ></p-multiSelect>
      </div>
      <div class="w-full flex flex-col gap-3">
        <p-checkbox formControlName="isOpen" [binary]="true" label="Aberto"></p-checkbox>
        <p-checkbox formControlName="changeOld" [binary]="true" label="Permite alterar agendamentos passados"></p-checkbox>
        <p-checkbox formControlName="sendEmailToCustomerScheduleDay" [binary]="true" label="Notificar clientes no dia do agendamento"></p-checkbox>
      </div>
      <button type="submit" [disabled]="futils.form.invalid || !hasWriteAccess" class="bg-success disabled:opacity-50 text-white rounded-md p-2" (click)="save()">Salvar</button>
    </form>
  </div>
</div>
