<div class="bg-blend-hue text-white mx-auto max-w-6xl sm:px-8 lg:px-12 sm:py-2 lg:py-4 lg:rounded-lg md:rounded-md rounded-none min-h-[calc(80vh)] h-full overflow-h-scroll">
    <div class="grid grid-rows-3 grid-flow-col gap-4">
        <div class="row-span-3">
            <p-listbox [options]="cities" [(ngModel)]="selectedCity" optionLabel="name"></p-listbox>
        </div>
        <div class="col-span-2">{{selectedCity}}</div>
        <div class="row-span-2 col-span-2">03</div>
      </div>

</div>