<div class="bg-blend-hue bg-opacity-50 mx-auto max-w-7xl sm:px-6 lg:px-8 sm:py-2 lg:py-4 lg:rounded-lg md:rounded-md rounded-none min-h-[calc(80vh)] h-full overflow-h-scroll">
  <div class="w-50 sm:p-2 p-0 sm:text-left text-center">
    <span class="dark:text-white text-primary text-4xl font-bold tracking-tight sm:text-6xl indent-4"> Usuários </span>
  </div>
  <div class="w-full sm:w-75 md:w-50 lg:w-25 my-2 p-3">
    <p-table
      #dt
      [value]="users"
      [paginator]="true"
      [rows]="10"
      (sortFunction)="customSort($event)"
      [customSort]="true"
      [globalFilterFields]="['name', 'surname', 'userType.description']"
    >
      <ng-template pTemplate="caption">
        <div class="flex md:flex-row sm:align-items-center justify-between flex-col gap-2">
          <div class="flex justify-start gap-2 items-center">
            <div role="button" class="flex items-center gap-2 rounded bg-gradient-to-br from-palette-400 to-palette-600 text-white px-3 py-2 shadow" (click)="visible = true">
              <i class="fa-solid fa-plus"></i>
              <span>NOVO</span>
            </div>
          </div>
          <div class="flex flex-row justify-end sm:w-auto w-full">
            <span class="p-input-icon-left ml-auto sm:w-auto w-full shadow-sm">
              <i class="fa-solid fa-magnifying-glass"></i>
              <input pInputText type="text" (input)="applyFilter(dt, $event, 'contains')" placeholder="Buscar..." class="p-inputtext-sm sm:w-auto w-full" />
            </span>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr class="sm:tracking-normal tracking-tighter">
          <th pSortableColumn="name">Nome</th>
          <th pSortableColumn="email">Email</th>
          <th pSortableColumn="phone">Telefone</th>
          <th>Nascimento</th>
          <th colspan="2">Tipo</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-user let-columns="columns">
        <tr class="sm:tracking-normal tracking-tighter">
          <td>
            <span class="flex gap-1">
              {{ user.name }}
              <span class="hidden sm:block">
                {{ user.surname }}
              </span>
            </span>
          </td>
          <td>{{ user.email }}</td>
          <td>{{ user.phone }}</td>
          <td>{{ user.dateBirth | date : "dd/MM/yy" }}</td>
          <td>{{ user.userType.description }}</td>
          <td><i role="button" class="fa-solid fa-user-gear" (click)="change(user)"></i></td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="7">Nenhum usuário encontrado.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<p-dialog
  [header]="'Usuários'"
  (onHide)="hide()"
  position="top"
  [(visible)]="visible"
  [breakpoints]="{ '960px': '75vw', '600px': '85vw' }"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
  [modal]="true"
>
  <form [formGroup]="form">
    <div class="grid grid-cols-12 gap-x-6 gap-y-4">
      <div class="sm:col-span-6 col-span-12">
        <label for="name">Nome</label>
        <input type="text" id="name" formControlName="name" pInputText placeholder="Informe o Nome" [style]="{ width: '100%' }" />
      </div>

      <div class="sm:col-span-6 col-span-12">
        <label for="surname">Sobrenome</label>
        <input type="text" id="surname" formControlName="surname" pInputText placeholder="Informe o Sobrenome" [style]="{ width: '100%' }" />
      </div>

      <div class="sm:col-span-6 col-span-12">
        <label for="userType">Tipo de acesso</label>
        <p-dropdown
          dataKey="id"
          placeholder="Selecione o tipo de acesso"
          [options]="userTypes"
          [showClear]="true"
          [autoDisplayFirst]="false"
          optionLabel="description"
          inputId="userType"
          [filter]="true"
          formControlName="userType"
          [style]="{ width: '100%' }"
          (onChange)="onChangeUser($event)"
        ></p-dropdown>
      </div>

      <div class="sm:col-span-6 col-span-12">
        <label for="dateBirth">Data de nascimento</label>
        <p-calendar
          formControlName="dateBirth"
          appendTo="body"
          placeholder="Aniversário"
          inputId="dateBirth"
          [readonlyInput]="false"
          [style]="{ width: '100%' }"
          [showOnFocus]="true"
          dateFormat="dd/mm/yy"
        ></p-calendar>
      </div>

      <div class="sm:col-span-6 col-span-12">
        <label for="email">Email</label>
        <input type="email" id="email" formControlName="email" pInputText placeholder="agendahub@agenda.com" [style]="{ width: '100%' }" />
      </div>

      <div class="sm:col-span-6 col-span-12">
        <label for="phone">Telefone</label>
        <input type="phone" id="phone" formControlName="phone" pInputText placeholder="(41) 99999-9999" [style]="{ width: '100%' }" />
      </div>

      <div class="sm:col-span-6 col-span-12" *ngIf="needPassword">
        <label for="password">Senha</label>
        <input type="password" id="password" autocomplete="username" formControlName="password" pInputText placeholder="Senha forte" [style]="{ width: '100%' }" />
      </div>

      <ng-container *ngIf="colorIsSelectable()">
        <div class="col-span-12 flex gap-2 items-center">
          <input
            id="color"
            type="color"
            title="Escolha a cor"
            formControlName="color"
            class="p-1 h-10 w-14 block bg-white border border-gray-200 cursor-pointer rounded-lg disabled:opacity-50 disabled:pointer-events-none"
          />
          <label for="color">Cor de identificação</label>
        </div>
        <div class="col-span-12">
          <p-checkbox formControlName="isActive" [binary]="true" label="Ativo"></p-checkbox>
        </div>
      </ng-container>
    </div>
  </form>

  <ng-template pTemplate="footer">
    <div class="flex items-end justify-end gap-2 w-full">
      <button [style]="{ width: '100%' }" class="rounded bg-red-100 text-red-600 p-2 shadow disabled:opacity-50" *ngIf="edit" (click)="tryDelete()">
        <span class="tracking-tight">Excluir</span>
      </button>
      <button
        [style]="{ width: '100%' }"
        class="rounded bg-gradient-to-r from-palette-400 to-palette-600 text-palette-50 p-2 shadow disabled:opacity-50"
        (click)="confirm()"
        [disabled]="form.invalid"
      >
        <span class="tracking-tight">Salvar</span>
      </button>
    </div>
  </ng-template>
</p-dialog>
