
<div class="bg-blend-hue bg-opacity-50 bg-slate-900   text-white text-5xl mx-auto max-w-7xl sm:px-6 lg:px-8 lg:rounded-lg md:rounded-md rounded-none" style="max-height: 90vh;">
    <div class="w-50 p-2">
        <span class="text-4xl indent-4 font-bold tracking-tight sm:text-6xl">
            Usuários
        </span>
    </div>
    <div class="w-full sm:w-75 md:w-50 lg:w-25 my-2 p-3">
        <p-table [value]="users" [styleClass]="'p-datatable-sm md:p-datable-md'" [paginator]="true" [rows]="10">
            <ng-template pTemplate="caption">
                <div class="flex align-items-center justify-content-between">
                    Listagem
                </div>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th>Nome </th>
                    <th>Email</th>
                    <th>Telefone</th>
                    <th>Nascimento</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-user let-columns="columns">
                <tr>
                    <td>
                        {{user.name}}
                        <span class="ml-2 hidden sm:block">
                            {{user.surname}}
                        </span>
                    </td>
                    <td>{{user.email}}</td>
                    <td>{{user.phone}}</td>
                    <td>{{user.dateBirth | date: "dd/MM/yy"}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>



<p-dialog [header]="'Usuários'" [(visible)]="visible" [breakpoints]="{ '960px': '75vw', '600px': '85vw' }" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false" [modal]="true">
    <form >
        <div class="grid grid-cols-12 gap-x-6 gap-y-4">
            <div class="col-span-6">
                <label for="startDateTime">Início</label>
                <p-calendar placeholder="08:00" inputId="startDateTime" [style]="{width:'100%'}" [showOnFocus]="true" [showTime]="true" [timeOnly]="true"></p-calendar>
            </div>

            <div class="col-span-6">
                <label for="finishDateTime">Fim</label>
                <p-calendar placeholder="10:00" inputId="finishDateTime" [style]="{width:'100%'}" [showOnFocus]="true" [showTime]="true" [timeOnly]="true"></p-calendar>
            </div>

            <div class="sm:col-span-6 col-span-12">
                <label for="price">Preço</label>
                <input type="number" id="price" pInputText placeholder="R$ 100,00" [style]="{width:'100%'}"/>
            </div>

            <div class="col-span-12">
                <label for="note">Anotação</label>
                <textarea id="note" cols="10" [style]="{width: '100%'}" placeholder="Informações importantes..." pInputTextarea></textarea>
            </div>

        </div>
    </form>

    <ng-template pTemplate="footer">
        <div class="flex gap-2">
            <button pButton [style]="{width:'100%'}" class="p-button-danger flex justify-center items-center gap-2" *ngIf="edit" (click)="tryDelete()">
                <span class="tracking-tight text-white text-ellipsis">Excluir</span>
                <fa-icon [icon]="faDelete" (click)="null"></fa-icon>
            </button>
            <button pButton (click)="confirm()" [style]="{width:'100%'}" class="flex justify-center items-center gap-2">
                <span class="tracking-tight text-white text-ellipsis">Confirmar</span>
                <fa-icon [icon]="faConfirm" (click)="confirm()"></fa-icon>
            </button>
        </div>
    </ng-template>
</p-dialog>