<div class="w-full sm:w-75 md:w-50 lg:w-25 transition-all ease-linear duration-200">
  <div class="w-full">
    <div
      class="h-12 sm:h-16 border-gray-300 flex justify-between items-center px-2 py-2 bg-primary translate-x-0 open:translate-x-1 text-optimized"
      [ngClass]="{ 'rounded-t-lg': !header }"
    >
      <p class="text-sm sm:text-xl font-bold text-clean dark:text-[#F0ECE5] ml-3">
        {{ getMonthHeader() }}
      </p>
      <a class="border border-very-clean mr-1 sm:mr-3 px-2 py-1 rounded-lg text-xs text-very-clean" routerLink="/general/scheduling">Ver tudo</a>
    </div>
    <full-calendar id="calendar" #calendar [options]="calendarOptions" [style]="{ width: '100%' }">
      <ng-template #dayHeaderContent let-day>
        <div class="text-primary text-sm sm:text-base w-full py-2 flex justify-center items-center inter uppercase -tracking-wide">
          <span class="leading-5">{{ formatHeaderDay(day, "dddd").dayName }}</span>
        </div>
      </ng-template>

      <ng-template #slotLabelContent let-day>
        <div class="-tracking-wider mx-2 mt-4 font-bold text-primary text-sm sm:text-base">
          {{ day.date | date : "H:mm" }}
        </div>
      </ng-template>
    </full-calendar>
  </div>
</div>
