@import url(../node_modules/@fortawesome/fontawesome-free/css/all.min.css);
@import url(../node_modules/@fortawesome/fontawesome-free/css/brands.min.css);
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --clean: #f0ece5;
  --tertiary: #71798a;
  --very-clean: #ffffff;
  --primary-color: #14052a;
  --secondary-color: #23224a;
  --font-family: "Outfit", sans-serif;

  // overrides fullcalendar

  --fc-border-color: #000000;
  --fc-page-bg-color: #1b1245;
  --fc-small-font-size: 0.85em;
  --fc-neutral-text-color: #808080;
  --fc-neutral-bg-color: rgba(208, 208, 208, 0.3);

  --fc-button-text-color: #fff;
  --fc-button-bg-color: #2c3e50;
  --fc-button-border-color: #2c3e50;
  --fc-button-hover-bg-color: #1e2b37;
  --fc-button-hover-border-color: #1a252f;
  --fc-button-active-bg-color: #1a252f;
  --fc-button-active-border-color: #151e27;

  --fc-event-bg-color: #3788d8;
  --fc-event-border-color: #3788d8;
  --fc-event-text-color: #fff;
  --fc-event-selected-overlay-color: rgba(0, 0, 0, 0.25);

  --fc-more-link-bg-color: #d0d0d0;
  --fc-more-link-text-color: inherit;

  --fc-event-resizer-thickness: 8px;
  --fc-event-resizer-dot-total-width: 8px;
  --fc-event-resizer-dot-border-width: 1px;

  --fc-non-business-color: @apply bg-palette-950;
  --fc-bg-event-color: rgb(143, 223, 130);
  --fc-bg-event-opacity: 0.3;
  --fc-highlight-color: rgba(188, 232, 241, 0.3);
  --fc-now-indicator-color: @apply border-palette-800;
  --fc-today-bg-color: rgb(217 214 255);
}

* {
  font-family: "Outfit", sans-serif;
}

*:focus-visible {
  outline: none !important;
}

.p-paginator-bottom {
  border-radius: 0px 0px 7px 7px !important;
}

.p-datatable .p-datatable-header {
  border-radius: 7px 7px 0px 0px;
}

::-webkit-scrollbar {
  height: 0.5rem;
  padding: 0 1rem;
}

::-webkit-scrollbar {
  width: 0.5rem;
  background-blend-mode: darken;
  padding: 1rem 0;
}

::-webkit-scrollbar:horizontal {
  height: 0.5rem;
  background-blend-mode: lighten;
  padding: 0 1rem;
}

::-webkit-scrollbar-thumb {
  background: rgba(90, 90, 90);
  border-radius: 2rem;
}

::-webkit-scrollbar-thumb:horizontal {
  @apply bg-slate-950 bg-opacity-50 scroll-mx-2;
  border-radius: 2rem;
}

::-webkit-scrollbar-track {
  @apply bg-opacity-0;
  background: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-track:horizontal {
  @apply bg-very-clean;
}

.p-overlaypanel.responsive-overlay {
  .p-overlaypanel-content {
    padding: 0 !important;
  }
}

.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}

.my-float {
  margin-top: 16px;
}

// overrides fullcalendar
.fc-more-popover {
  overflow: auto;
  max-height: 35%;
}

.p-datatable .p-paginator-bottom {
  button {
    @apply rounded-md mx-0.5 min-w-fit w-9 h-9;
  }

  .p-paginator-pages {
    .p-paginator-page.p-highlight {
      @apply rounded-md mx-0.5 min-w-fit w-9 h-9;
    }

    .p-paginator-page {
      @apply rounded-md mx-0.5 min-w-fit w-9 h-9;
    }
  }
}

.fc-event {
  @apply border-none rounded-md mix-blend-darken p-1;
  box-shadow: inset 0px 0px 400px 110px rgb(0 0 0 / 30%) !important;
}

.fc-event:hover {
  @apply transition duration-150 ease-in-out transform hover:scale-[1.01] z-[99];
}

.fc-theme-standard th,
.fc-theme-standard tr,
.fc-timegrid-event-harness-inset .fc-timegrid-event,
.fc-timegrid-event.fc-event-mirror,
.fc-timegrid-more-link {
  @apply border-none shadow-none;
}

.fc-theme-standard td {
  border-right: none !important;
  border-left: none !important;
}

.fc .fc-timegrid-slot-minor {
  border: none !important;
}

.fc-v-event .fc-event-time {
  @apply text-xs leading-3 -tracking-wider font-extralight;
}

.fc-v-event .fc-event-title {
  @apply text-xs leading-4 -tracking-tighter font-light;
}

.fc .fc-daygrid-day-frame {
  @apply border-[1px] border-clean border-opacity-10;
}

thead tr th .fc-scroller-harness .fc-scroller {
  overflow: hidden !important;
}

.text-optimized {
  text-rendering: optimizeLegibility;
}

.p-sidebar-right.scheduler {
  top: 64px !important;
  height: calc(100% - 64px) !important;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1) !important;
}

.p-sidebar {
  .p-sidebar-footer,
  .p-sidebar-header,
  .p-sidebar-content {
    padding: 1rem !important;
  }
}

@media screen and (max-width: 1024px) {
  .p-sidebar {
    position: fixed !important;
    top: 64px !important;
    height: calc(100% - 64px) !important;
  }

  .p-sidebar {
    .p-sidebar-footer,
    .p-sidebar-header,
    .p-sidebar-content {
      padding: 0.7rem 1rem !important;
    }
  }

  .p-sidebar.noborder {
    & {
      top: 64px !important;
      height: calc(100% - 64px) !important;
      box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1) !important;
      overflow: hidden !important;
    }

    .p-sidebar-content {
      padding: 0 !important;
      overflow: hidden !important;
    }

    .p-sidebar-header,
    .p-sidebar-footer {
      display: none !important;
    }
  }
}

.successful {
  background-color: #4caf50 !important;
  color: white !important;
}

.info {
  background-color: #2196f3 !important;
  color: white !important;
}

.warning {
  background-color: #ff9800 !important;
  color: white !important;
}

.error {
  background-color: #f44336 !important;
  color: white !important;
}

.p-tabview {
  .p-tabview-nav {
    & {
      @apply rounded-t-md bg-gray-300 dark:bg-gray-800 border-2 border-gray-300 dark:border-gray-950;
    }

    li {
      .p-tabview-nav-link {
        & {
          @apply bg-gray-300 dark:bg-gray-800 border-2 border-gray-300 dark:border-gray-950;
        }

        &:not(.p-disabled):focus {
          box-shadow: none !important;
        }
      }

      &.p-highlight {
        .p-tabview-nav-link {
          & {
            @apply bg-gray-300 dark:bg-gray-800;
            border-color: #401088 !important;
          }

          & * {
            @apply text-primary dark:text-clean;
          }
        }
      }

      &:not(.p-highlight):not(.p-disabled):hover .p-tabview-nav-link {
        @apply bg-gray-300 dark:bg-gray-800;
      }
    }
  }

  .p-tabview-panels {
    @apply bg-gray-300 dark:bg-gray-800;
  }
}

.p-tabmenu {
  & {
    background: none !important;
  }
  .p-tabmenu-nav {
    & {
      @apply rounded-t-md dark:bg-primary border-2 dark:border-primary;
    }

    .p-tabmenuitem {
      &.p-highlight .p-menuitem-link {
        & {
          @apply bg-gray-400 dark:bg-primary;
          border-color: #401088 !important;
        }

        & * {
          @apply text-primary dark:text-clean;
        }
      }

      .p-menuitem-link {
        @apply bg-gray-400 dark:bg-primary dark:border-primary font-medium;
        padding: 1rem !important;
        box-shadow: none !important;
      }

      &:not(.p-highlight):not(.p-disabled):hover .p-menuitem-link {
        @apply bg-gray-300 dark:bg-primary;
      }
    }
  }
}

.p-inputtext:enabled:focus {
  box-shadow: none !important;
}

.fc.fc-theme-standard .fc-view-harness .fc-scrollgrid {
  @apply border-none;
}

.fc.fc-theme-standard .fc-view-harness th {
  @apply bg-palette-50 dark:bg-secondary;
}

.fc-timegrid-slot .fc-timegrid-slot-label .fc-scrollgrid-shrink {
  @apply dark:bg-tertiary;
}
