/* You can add global styles to this file, and also import other style files */
@import url(../node_modules/@fortawesome/fontawesome-free/css/all.min.css);
@import url(../node_modules/@fortawesome/fontawesome-free/css/brands.min.css);
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --base-pink-light: #a61c76;
  --base-pink-extralight: #bf048d;
  --base-dark: #2c2f40;
  --base-medium: #5a758c;
  --base-light: #a4b0bf;
  
  // overrides fullcalendar 
  --fc-now-indicator-color: @apply border-primary;
  --fc-today-bg-color: rgba(240, 236, 229, 0.5);
}

* {
  font-family: "Outfit", sans-serif;
}

*:focus-visible {
  outline: none !important;
}

.p-paginator-bottom {
  border-radius: 0px 0px 7px 7px !important;
}

.p-datatable .p-datatable-header {
  border-radius: 7px 7px 0px 0px;
}

::-webkit-scrollbar {
  height: 0.5rem;
  padding: 0 1rem;
}

::-webkit-scrollbar {
  width: 0.5rem;
  background-blend-mode: darken;
  padding: 1rem 0;
}

::-webkit-scrollbar:horizontal {
  height: 0.5rem;
  background-blend-mode: lighten;
  padding: 0 1rem;
}


::-webkit-scrollbar-thumb {
  background: rgba(90, 90, 90);
  border-radius: 2rem;
}

::-webkit-scrollbar-thumb:horizontal {
  @apply bg-slate-950 bg-opacity-50 scroll-mx-2;
  border-radius: 2rem;
}

::-webkit-scrollbar-track {
  @apply bg-opacity-0;
  background: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-track:horizontal {
  @apply bg-very-clean 
}

.p-overlaypanel.responsive-overlay {
  .p-overlaypanel-content {
    padding: 0 !important;
  }
}

.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}

.my-float {
  margin-top: 16px;
}

// overrides fullcalendar
.fc-more-popover {
  overflow: auto;
  max-height: 35%;
}

.p-datatable .p-paginator-bottom {
  button {
    @apply rounded-md mx-0.5 min-w-fit w-9 h-9;
  }

  .p-paginator-pages {
    .p-paginator-page.p-highlight {
      @apply rounded-md mx-0.5 min-w-fit w-9 h-9;
    }
  
    .p-paginator-page {
      @apply rounded-md mx-0.5 min-w-fit w-9 h-9;
    }
  }

}
 
.fc-event {
  @apply border-none rounded-md mix-blend-darken p-1;
}

.fc-event:hover {
  @apply transition duration-150 ease-in-out transform hover:scale-[1.01] z-[99];
}

.fc-theme-standard th,
.fc-theme-standard tr,
.fc-timegrid-event-harness-inset .fc-timegrid-event,
.fc-timegrid-event.fc-event-mirror,
.fc-timegrid-more-link {
  @apply border-none shadow-none;
}

.fc-theme-standard td {
  border-right: none !important;
  border-left: none !important;
}

.fc .fc-timegrid-slot-minor {
    border: none !important;
    border-top-style: dotted;
}

.fc.fc-theme-standard .fc-view-harness td {
  @apply border-[1px] rounded-md;
}

.fc .fc-timegrid-now-indicator-line {
  @apply border-primary h-[1px] bg-primary rounded border-l-4;
}

.fc-direction-ltr .fc-timegrid-now-indicator-arrow {
  @apply rounded-md p-[1px];
}

.fc-v-event .fc-event-time {
  @apply text-xs leading-3 -tracking-wider font-extralight;
}

.fc-v-event .fc-event-title {
  @apply text-xs leading-4 -tracking-tighter font-light;
}

.fc .fc-daygrid-day-frame {
  @apply border-[1px] border-clean border-opacity-30;
}

.text-optimized {
  text-rendering: optimizeLegibility;
}


.p-sidebar-right {
  top: 64px !important;
  height: calc(100% - 64px) !important;
  // position: relative !important;
  --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1) !important;
  --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color) !important;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important;
}

.p-sidebar {  
  .p-sidebar-footer, .p-sidebar-header, .p-sidebar-content {
    padding: 1rem !important;
  }
}

// @media (prefers-color-scheme: dark) {
//   .p-sidebar {  
//     .p-sidebar-footer, .p-sidebar-header, .p-sidebar-content {
//       background-color: rgb(20 5 42) !important;
//       color: rgb(230 229 227) !important;
//     }
//   }
// }

@media screen and (max-width: 1024px) {
  .p-sidebar {
    position: fixed !important;
    top: 64px !important;
    height: calc(100% - 64px) !important;
  }

  .p-sidebar {  
    .p-sidebar-footer, .p-sidebar-header, .p-sidebar-content {
      padding: 0.7rem 1rem !important;
    }
  }
}