/* You can add global styles to this file, and also import other style files */
@import url(../node_modules/@fortawesome/fontawesome-free/css/all.min.css);
@import url(../node_modules/@fortawesome/fontawesome-free/css/brands.min.css);
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --base-pink-light: #a61c76;
  --base-pink-extralight: #bf048d;
  --base-dark: #2c2f40;
  --base-medium: #5a758c;
  --base-light: #a4b0bf;
}

* {
  font-family: "Outfit", sans-serif;
}

.p-paginator-bottom {
  border-radius: 0px 0px 7px 7px !important;
}

.p-datatable .p-datatable-header {
  border-radius: 7px 7px 0px 0px;
}

::-webkit-scrollbar {
  height: 0.5rem;
  padding: 0 1rem;
}

::-webkit-scrollbar:vertical {
  width: 0.5rem;
  background-blend-mode: darken;
  padding: 1rem 0;
}

::-webkit-scrollbar-thumb {
  background: rgba(90, 90, 90);
  border-radius: 2rem;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
}

.p-overlaypanel.responsive-overlay {
  .p-overlaypanel-content {
    padding: 0 !important;
  }
}

.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}

.my-float {
  margin-top: 16px;
}

.fc-more-popover {
  overflow: auto;
  max-height: 35%;
}
