<div class="px-4 pt-4 pb-2 w-full">
  <div class="grid sm:grid-cols-3 grid-cols-1 gap-4 w-full text-primary dark:text-white relative">
    <div class="col-span-1 sm:sticky sm:top-16 rounded-lg h-max shadow-xl bg-white dark:bg-secondary flex flex-col gap-12">
      <div class="head px-8 rounded-t-lg relative w-full bg-gradient-to-r dark:from-secondary dark:via-primary dark:to-secondary from-primary-light/10 to-primary-light/50">
        <div class="flex justify-center w-full relative -bottom-10">
          <div class="absolute w-32 h-32 flex justify-end items-end z-30">
            <div role="button" class="rounded-full p-3 bg-neutral-900 text-white flex justify-center items-center" (click)="menu.toggle($event)">
              <i class="fas fa-bars"></i>
            </div>
            <p-tieredMenu #menu [popup]="true" [model]="items" appendTo="body"></p-tieredMenu>
          </div>

          <img
            loading="eager"
            alt="profile image"
            [src]="user && user.imageUrl ? user.imageUrl : 'assets/images/default_avatar.png'"
            class="w-32 h-32 object-cover border border-gray-300 bg-white dark:bg-secondary rounded-full transition duration-300 ease-in-out transform flex items-center justify-center cursor-pointer relative"
            [ngClass]="{
              'animate-pulse bg-gray-200 dark:bg-gray-700': !imageReady
            }"
          />
        </div>
      </div>
      <div class="body px-8 pb-8">
        <div class="flex items-center justify-between">
          <h1 class="text-4xl">
            <span class="capitalize">{{ user.name }} </span>
            <span class="capitalize"> {{ user.surname }}</span>
          </h1>

          <div>
            <i role="button" *ngIf="!form.get('email')?.value" class="fas fa-user-edit text-2xl hover:text-3xl smooth-hover" (click)="toggleEdit()"></i>
            <i
              role="button"
              *ngIf="form.get('email')?.value"
              class="fas text-2xl"
              [ngClass]="{ 'fa-save': form.touched, 'fa-times': form.untouched }"
              (click)="form.touched ? saveUserInfo() : reset()"
            >
            </i>
          </div>
        </div>
        <form [formGroup]="form">
          <div class="mb-4 mt-2">
            <div class="mb-2 flex items-center">
              <i class="fas fa-envelope mr-2"></i>
              <span class="font-medium">E-mail</span>
            </div>
            <div class="rounded-lg p-2">
              <div class="animate-pulse h-4 bg-gray-200 rounded dark:bg-gray-700 max-w-[330px] mb-2.5" [ngClass]="{ hidden: user != undefined }"></div>
              <p *ngIf="!form.get('email')?.value">{{ user.email }}</p>
              <input *ngIf="form.get('email')?.value" type="email" id="email" formControlName="email" pInputText placeholder="agendahub@agenda.com" [style]="{ width: '100%' }" />
            </div>
          </div>
          <div class="mb-4">
            <div class="mb-2 flex items-center">
              <i class="fas fa-birthday-cake mr-2"></i>
              <span class="font-medium">Data de Nascimento</span>
            </div>
            <div class="rounded-lg p-2">
              <div class="animate-pulse h-4 bg-gray-200 rounded dark:bg-gray-700 max-w-[330px] mb-2.5" [ngClass]="{ hidden: user != undefined }"></div>
              <p *ngIf="!form.get('email')?.value">{{ user.dateBirth | date : "dd/MM/yyyy" }}</p>
              <p-calendar
                *ngIf="form.get('email')?.value"
                formControlName="dateBirth"
                appendTo="body"
                placeholder="Aniversário"
                inputId="dateBirth"
                [readonlyInput]="false"
                [style]="{ width: '100%' }"
                [showOnFocus]="true"
                dateFormat="dd/mm/yy"
              ></p-calendar>
            </div>
          </div>
          <div class="mb-4">
            <div class="mb-2 flex items-center">
              <i class="fas fa-phone mr-2"></i>
              <span class="font-medium">Telefone</span>
            </div>
            <div class="rounded-lg p-2">
              <div class="animate-pulse h-4 bg-gray-200 rounded dark:bg-gray-700 max-w-[330px] mb-2.5" [ngClass]="{ hidden: user != undefined }"></div>
              <p *ngIf="!form.get('email')?.value">{{ user.phone }}</p>
              <input *ngIf="form.get('email')?.value" id="phone" formControlName="phone" pInputText placeholder="agendahub@agenda.com" [style]="{ width: '100%' }" />
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="sm:col-span-2 col-span-1 p-8 rounded-lg shadow-xl border border-gray-100 dark:border-secondary/50 bg-white dark:bg-secondary">
      <div>
        <h2 class="text-3xl text-center mb-8 mt-8">Histórico de Compromissos</h2>
        <ng-container *ngIf="events && events.length; else loading">
          <div class="sm:block hidden">
            <p-timeline [value]="events" align="alternate" styleClass="customized-timeline">
              <ng-template pTemplate="content" let-event>
                <span class="custom-marker shadow-2">
                  <i [ngClass]="event.icon"></i>
                </span>
              </ng-template>
              <ng-template pTemplate="content" let-event>
                <div class="p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-primary dark:border-gray-700">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M12 6.042A8.967 8.967 0 0 0 6 3.75c-1.052 0-2.062.18-3 .512v14.25A8.987 8.987 0 0 1 6 18c2.305 0 4.408.867 6 2.292m0-14.25a8.966 8.966 0 0 1 6-2.292c1.052 0 2.062.18 3 .512v14.25A8.987 8.987 0 0 0 18 18a8.967 8.967 0 0 0-6 2.292m0-14.25v14.25"
                    />
                  </svg>

                  <a href="#">
                    <h5 class="mb-2 text-2xl tracking-tight text-gray-900 dark:text-white">
                      {{ event.customer.name }}
                    </h5>
                  </a>
                  <p class="mb-3 font-normal text-gray-500 dark:text-gray-400">
                    {{ event.schedule.finishDateTime | date : "dd/MM/yyyy" }}
                  </p>
                </div>
              </ng-template>
            </p-timeline>
          </div>
          <div class="sm:hidden block">
            <div *ngFor="let event of events" class="p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-primary dark:border-gray-700 my-2">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M12 6.042A8.967 8.967 0 0 0 6 3.75c-1.052 0-2.062.18-3 .512v14.25A8.987 8.987 0 0 1 6 18c2.305 0 4.408.867 6 2.292m0-14.25a8.966 8.966 0 0 1 6-2.292c1.052 0 2.062.18 3 .512v14.25A8.987 8.987 0 0 0 18 18a8.967 8.967 0 0 0-6 2.292m0-14.25v14.25"
                />
              </svg>

              <a href="#">
                <h5 class="mb-2 text-2xl tracking-tight text-gray-900 dark:text-white">
                  {{ event.customer.name }}
                </h5>
              </a>
              <p class="mb-3 font-normal text-gray-500 dark:text-gray-400">
                {{ event.schedule.finishDateTime | date : "dd/MM/yyyy" }}
              </p>
            </div>
          </div>
        </ng-container>
        <ng-template #loading>
          <div class="animate-pulse h-40 bg-white border border-gray-200 rounded-lg shadow dark:bg-primary dark:border-gray-700 my-2"></div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
