<div class="bg-blend-hue bg-opacity-50 bg-slate-900 text-white mt-20 mx-auto max-w-6xl sm:px-6 lg:px-8 sm:py-2 lg:py-4 lg:rounded-lg md:rounded-md rounded-none min-h-[calc(80vh)] h-full overflow-h-scroll">
    <div>
        <p-table #dt1  [value]="filteredSchedulingList" [paginator]="true" [rows]="10" [responsive]="true" [autoLayout]="true"
                 [resizableColumns]="true" [tableStyle]="{ 'min-width': '50rem' }">
            <ng-template pTemplate="caption">    
                <div class="flex justify-between flex-col sm:flex-row">
                    <div class="mb-3">
                        <span class="text-4xl font-bold tracking-tight sm:text-4xl ">
                            Atendimentos
                        </span>
                    </div>
                    <span class="p-input-icon-left">
                        <p-calendar placeholder="Filtrar data" (onSelect)="getSchedulingList()" class="p-inputtext-sm mx-2" [(ngModel)]="rangeDates" selectionMode="range"></p-calendar>
                        <!-- <i class="pi pi-search"></i> -->
                        <input class="p-inputtext-sm mx-2" pInputText type="text" placeholder="Pesquise o cliente" [(ngModel)]="searchClient" (ngModelChange)="onSearchChange()" />
                    </span>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th>Nome</th>
                    <th>Primeiro Atendimento</th>
                    <th>Último Atendimento</th>
                    <th>Número de Atendimentos</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-schedulingItem>
                <tr>
                    <td>{{ schedulingItem.name }}</td>
                    <td>{{ schedulingItem.startDate | date: 'dd/MM/yyyy - hh:mm'}}</td>
                    <td>{{ schedulingItem.finishDate | date: 'dd/MM/yyyy - hh:mm'}}</td>
                    <td>{{ schedulingItem.appointmentCount }}</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="4">
                        <div class="flex justify-center items-center">
                            <div class="flex flex-col items-center">
                                <i class="pi pi-search text-4xl"></i>
                                <span class="text-xl">Nenhum atendimento encontrado</span>
                            </div>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
