<div class="bg-blend-hue text-white mx-auto max-w-6xl sm:px-8 lg:px-12 sm:py-2 lg:py-4 lg:rounded-lg md:rounded-md rounded-none min-h-[calc(80vh)] h-full overflow-h-scroll">
    <div class="flex flex-col w-full h-full justify-center gap-4 p-2">
        <div class="flex items-center justify-between">
            <h3 class="text-2xl text-gray-200 font-bold ml-3">Próximos agendamentos</h3>
            <p-dropdown placeholder="Tempo" [options]="dateRanges" [formControl]="dateRange" (onChange)="onChangeDateRange($event)"></p-dropdown>
        </div>

        <ol *ngIf="events.length; else noneEvent">
            <li [class]="'border-l-2 border-purple-600 ml-4'" *ngFor="let event of events" [style]="{'border-color': event.employee.color ?? 'rgb(147 51 234)'}">
                <div class="md:flex flex-start">
                    <div [class]="'bg-purple-600 w-6 h-6 flex items-center justify-center rounded-full -ml-3.5 p-0.5'" [style]="{background: event.employee.color ?? 'rgb(147 51 234)'}">
                        <fa-icon [icon]="faCalendar"></fa-icon>
                    </div>
                    <div class="block p-6 rounded-lg shadow-lg bg-gray-100 md:w-full w-90% ml-6 mb-0.5">
                        <div class="flex justify-between mb-2">
                            <span class="font-medium text-xl text-purple-600">
                                {{event.customer.name}} - <span class="text-lg">{{event.schedule.service.description}}</span>
                            </span>
                            <span class="font-medium text-xl text-purple-600">{{event.schedule.startDateTime | date: "dd/MM/yy HH:mm"}}</span>
                        </div>
                        <!-- <p class="font-medium text-md text-purple-600">
                            {{event.schedule.service.description}}
                        </p> -->
                        <p class="text-gray-700 mb-6" *ngIf="event.schedule.note || event.schedule.service.note">
                            {{event.schedule.note}}
                        </p>
                        <div class="flex justify-end">
                            <button pButton class="p-button-sm" (click)="showCalendar($event, op)">Abrir agenda</button>
                        </div>
                    </div>
                </div>
            </li>
        </ol>

        <p-overlayPanel [showCloseIcon]="true" #op  (onHide)="calendarOpen = false" [style]="{width: getWidth()}" styleClass="responsive-overlay">
            <div class="w-full sm:w-75 md:w-50 lg:w-25" *ngIf="calendarOpen">
                <app-calendar [header]="false" [events]="eventsCalendar" [isEditable]="false"></app-calendar>            
            </div>
        </p-overlayPanel>

        <ng-template #noneEvent>
            <div class="text-center font-semibold text-lg">Nenhum agendamento para esse período</div>
        </ng-template>
    </div>
    <p class="text-base leading-1 font-medium text-center px-4">
        Deseja visualizar agendamentos passados ou mais distantes? Veja direto na <span class="text-purple-400 cursor-pointer" routerLink="/scheduler">Agenda</span>
    </p>
</div>